@import '~antd/dist/antd.css';

.point {
  cursor: pointer;
}
.tag-avatar{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.patch {
  color: #666666
}
.put {
  color: #097BED
}
.delete {
  color: #EB2013
}
.post {
  color: #FFB400
}
.get {
  color: #249C47
}
/* 省略号的元素加上这个 */
.ellipsis{
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}